* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #282c34;
    color: #ffffff;
}

.main-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
}

.all-activity-container {
    width: 90%;
    margin: 6% auto;
}

.activity-cart-container {
    background-color: #282c40;
    padding: 2rem 1rem;
}

/* Blog section*/
.blogs-container .devider {
    width: 90%;
    height: 3px;
    margin: 0 auto;
    background-color: #dd0099;
}

@media only screen and (max-width: 767.99px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .main-container {
        grid-template-columns: 9fr 3fr;
    }
}