.all-blogs-container {
    max-width: 90%;
    margin: 5% auto;
}

.text-blog {
    text-align: center;
    border-bottom: 2px solid #2890d6;
    color: #00ffffcc;
}

.blog {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.blog>h3 {
    color: #ffdead;
}

i {
    color: #ff0000;
}

.code-em {
    display: block;
    background: #000;
    width: 220px;
    padding: 10px 8px;
    color: #ff62f7;
    margin-bottom: 2rem;
    margin-top: .4rem;
}

.props-sates {
    display: flex;
    gap: 2.8rem;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.order-list {
    margin-top: 1rem;
}

.order-list li {
    margin-top: .8rem;
}

.margin-t {
    margin-top: 1.5rem;
    padding-left: 1rem;
}

.unorder-list li {
    margin-top: .8rem;
}

@media only screen and (max-width: 667.99px) {
    .props-sates {
        flex-direction: column;
    }
}