.add-break {
    margin-top: 3rem;
}

.add-break-btn-container {
    margin-top: 1rem;
    border-radius: 8px;
    width: 100%;
    /* height: 100px; */
    padding: 1rem .4rem;
    background-color: #282c30;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-break-btn-container button {
    /* padding: .59rem .2rem; */
    width: 2.5rem;
    height: 2.4rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: .9rem;
    font-weight: normal;
    font-size: 1.4rem;
}

button span {
    height: 100%;
    width: 100%;
    font-weight: bold;
}

small {
    font-size: 12px;
}

.add-break-btn-container button:hover {
    transition: ease 0.2s;
    background-color: #e6e628aa;
    color: #fff;
}